.git
.gitignore
.DS_Store
**/.DS_Store

**/bin
**/obj
**/.vs
**/.idea
**/.vscode

src/Rendezvous.Web/node_modules
src/Rendezvous.Web/.next
src/Rendezvous.Web/out

docker/postgres/init/*.sql
docker/media/uploads
output
